.App {
  font-family: cursive;
  text-align: center;
  display: flex;
}
/*-----Checkbox-----*/
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  position: relative;
  padding-left: 30px;
  padding-bottom: 25px;
  cursor: pointer;
}
input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1.5px solid #004574;
  border-radius: 50%;
  background-color: transparent;
  background-clip: content-box;
  padding: 2.5px;
}
input[type="checkbox"]:checked + label::before {
  background-color: #000;
}
/*-----Everything else------*/
.task {
  display: flex;
  flex-direction: row;
  /*justify-content: center;*/
  align-content: center;
  align-items: center;
  font-weight: bold;
}






